body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.photo-img{
  width:100%;
  height:400px;
}
.item-row{
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter-container{
  flex: "1 0 250px";
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn {
  background-color: #2196F3;
}
.comments {
  width: 250px;
  height:100px
}

.btn-danger {
  
  
  margin-left: 20px !important;
}
